{% extends 'SSMAPIBundle::Filesystem/workspace.html.twig' %}

{% block workspace %}

	<div class="ui-layout-center">

		{% for bundleName,bundle in model.bundles %}

			{% block bundle %}
			<div class="ui-widget-content ui-widget-filesystem ui-widget-bundle">
			
				{% block bundleHeader %}
				<a
					class="ui-widget-header"
					href="{{ path('mapi_help_bundle', {
						'bundle': bundleName
					}) }}">
					{{ bundleName }}
				</a>
				{% endblock %}
			
				{% block bundleContent %}
				<div class="ui-widget-content">
					{% block bundleFooter %}
					<div class="ui-buttonset">
						<a
							class="ui-widget-header"
							href="{{ path('mapi_help_bundle', {
								'bundle': bundleName
							}) }}">
							{% trans %}Open{% endtrans %}
						</a>
						<a
							class="ui-widget-header"
							href="{{ path('mapi_help_schema', {
								'bundle': bundleName
							}) }}">
							{% trans %}Schema{% endtrans %}
						</a>
						<a
							class="ui-widget-header"
							href="{{ path('mapi_help_ws', {
								'bundle': bundleName
							}) }}">
							{% trans %}WS{% endtrans %}
						</a>
						<a
							class="ui-widget-header"
							href="{{ path('mapi_help_phpunit', {
								'bundle': bundleName
							}) }}">
							{% trans %}Tests{% endtrans %}
						</a>
					</div>
					{% endblock %}
				</div>
				{% endblock %}
			</div>
			{% endblock %}
		{% endfor %}
	</div>

{% endblock %}