{% extends 'SSMAPIBundle::Application/workspace.html.twig' %}

{% block bundleFooter %}
	<div class="ui-widget-footer ui-buttonset">

		<a href="{{ path('mapi_schema_bundle', {
			'bundle': bundle.getName()
			}) }}">
			{% trans %}Open{% endtrans %}
		</a>

		<a href="{{ path('mapi_schema_documentation', {
			'bundle': bundle.getName()
			}) }}">
			{% trans %}Documentation{% endtrans %}
		</a>

		<a href="{{ path('mapi_schema_explorer', {
			'bundle': bundle.getName()
			}) }}">
			{% trans %}Explorer{% endtrans %}
		</a>

		<a href="{{ path('mapi_schema_interchange', {
			'bundle': bundle.getName()
			}) }}">
			{% trans %}Interchange{% endtrans %}
		</a>

	</div>
{% endblock %}

{% block bundleHeader %}
	<a
		class="ui-widget-header"
		href="{{ path('mapi_schema_bundle', {
		'bundle': bundleName
		}) }}">
		{{ bundleName }}
	</a>
{% endblock %}